# Server Configuration
PORT=3000

# Supabase Configuration
# Found in Supabase Dashboard -> Project Settings -> API
SUPABASE_URL=https://your-project-id.supabase.co
# Using anon key as RLS is disabled
SUPABASE_ANON_KEY=your-supabase-anon-key

# Auth configuration
# Static API Key used for the Bearer token guard in MarketModule
API_KEY=your-secure-api-key-here
